@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Noto sans", sans-serif;
    }
       
header {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to bottom, #654ea3, #eaafc8);
    height: 90px;
    padding: 0px 90px;
    border-bottom: solid #654ea3 2px;
    
}

.logo {
    height: 80px;
}

.navbar,
.navbar-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    
}   

.navbar-list {
    gap: 70px;
    font-weight: 700;
    font-size: 20px;
}

.navbar-list a{
    color: rgb(15, 15, 15);
}

.logo-final {
    display: flex; 
    width: 30px;
}

body{
    background: #eaafc8;
    
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    border: solid 2px red;

}
/* Seccion titulo e imagen */

#hero {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px 0;
    
}

.hero-title {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.hero-title h1{
    font-size: 32px;
    font-weight: 900;
}

.hero-title p{
    font-weight: 500;
    font-size: 18px;
}
.boton{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}
.comun {
    color: white;
    background: #654ea3;
    border: none;
    padding: 15px 20px ;
    border: solid 1px #654ea3;
    border-radius: 15px;
}

.activo{
    color: #654ea3;
    background: white;
    border: none;
    padding: 15px 20px ;
    border: solid 1px #654ea3;
    border-radius: 15px;
    cursor: pointer;
}

/* Imagen */

.hero-cart {
    border: solid 2px red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-cart img {
    /* width: 90%; */
    display: flex;
    border-radius: 10px;
}

.descripcion {
    border: solid 2px red;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 30px;
    font-weight: 400;
    font-size: 18px;
}

.descripcion span{
    font-weight: 700;
}