@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Noto sans", sans-serif;
    }

:root { 
    --primary: #eaafc8;
    --secundary:  #654ea3;
}
header {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to bottom, #654ea3, #eaafc8);
    height: 90px;
    padding: 0px 90px;
    /* border-bottom: solid #654ea3 2px; */
    position: fixed;
    width: 100%;
    z-index: 2;
}

.logo {
    height: 70px;
    padding-top: 10px;
}

.navbar,
.navbar-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    
}   

.navbar-list {
    gap: 70px;
    font-weight: 700;
    font-size: 20px;    
 }

.navbar-list a{
    transition: all .3s ease;
        
}
.navbar-list a:hover{
   color: #ffffff;
   text-decoration: underline;
    
}

.menu-label {
    display: none;
}

#menu-hambur {
    display: none;
}
.navbar-list a{
    color: rgb(15, 15, 15);
}

.logo-final {
    display: flex; 
    width: 30px;
}

body{
    background: #eaafc8;
    
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;

}
/* Seccion titulo e imagen */

#hero {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 190px;
    padding-bottom: 100px;
    gap: 70px;
}

.hero-title {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.hero-title h1{
    font-size: 32px;
    font-weight: 900;
}

.hero-title p{
    font-weight: 500;
    font-size: 18px;
}
.boton{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}
.comun {
    color: white;
    background: #654ea3;
    border: none;
    padding: 15px 20px ;
    border: solid 1px #654ea3;
    border-radius: 15px;
    cursor: pointer;
}

.comun:hover {
    background: white;
    color: var(--secundary);

}

.activo{
    color: white;
    background: var(--secundary);
    border: none;
    padding: 15px 20px ;
    border: solid 1px #654ea3;
    border-radius: 15px;
    cursor: pointer;
    transition: all .3s ease;
}

.activo:hover {
    background: white;
    color: var(--secundary);

}

/* Imagen */

.hero-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-cart img {
    /* width: 90%; */
    display: flex;
    justify-content: center;
    border-radius: 20px;
    /* background: #a77d8e; */
    background: linear-gradient(to right, #304352, #d7d2cc);
    backdrop-filter: blur(20px);
    padding: 5px;
    box-shadow:  0px 0px 20px 6px rgba(0, 0, 0, 0.54);
}

.descripcion {
    margin: 0 auto;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 30px;
    font-weight: 600;
    font-size: 18px;
    padding: 70px;
    
    
}

.descripcion span{
    font-weight: 700;    
    
}

/* Mid */

#mid {
    display: flex;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 60px;
    padding: 30px;
}
/* titulo */
.hero-card-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.hero-card-titulo h2 {
    font-size: 30px;
    font-weight: 800;
}

.hero-card-titulo p {
    font-size: 20px;
    font-weight: 500;
}
/* card */
.hero-card-mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-cards {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
}

.hero-card-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--secundary);
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    gap: 20px;
    max-width: 300px;
    box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.54);
}

.hero-card-1 img {
    width: 50px;
}

.hero-card-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--secundary);
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    gap: 20px;
    max-width: 300px;
    box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.54);
}

.hero-card-2 img {
    width: 50px;
}

.hero-card-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--secundary);
    padding: 20px;
    padding-top: 0px;
    border-radius: 10px;
    font-size: 20px;    
    gap: 20px;
    max-width: 300px;
    height: 295px;
    box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.54);
}

.hero-card-3 img {
    width: 50px;
}

/* contacto */

#contacto {
    display: flex;
    padding: 70px;  
}

.contenido-contacto {
    display: flex;
    gap: 100px;
    background:  #e990b5;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.54);
}

.hero-info-propietario {
    display: flex;
    flex-direction: column;
    padding: 30px 0 30px 0;
    /* background: rgb(231, 222, 222);  */
    max-width: 300px;
    gap: 20px;
}

.hero-info-propietario-1,
.hero-info-propietario-2,
.hero-info-propietario-3 {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 400;
}

.hero-info-propietario-1 img,
.hero-info-propietario-2 img,
.hero-info-propietario-3 img {
    width: 30px;
    height: 30px;
}

/* Form */-----------------------------------------
.hero-info-form {
    display: flex;
    flex-direction: column;
    
}
.hero-info-visitantes {
    /* background: rgb(255, 255, 255); */
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
    padding: 30px 0 30px 0;
}   

.hero-info-visitante-1 img,
.hero-info-visitante-2 img,
.hero-info-visitante-3 img {
    width: 30px;
    height: 30px;
}

.hero-info-visitante-1,
.hero-info-visitante-2,
.hero-info-visitante-3 {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 400;
}

.boton-form:hover {
    background: white;
    color: var(--secundary);
}

.boton-form {
    background: var(--secundary);
    padding: 15px 20px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 500;
    border: var(--secundary) 1px solid;
    transition: all .3s ease;
    color: white;
    cursor: pointer;
}
/* Footer ---------------------------------------------*/
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(to top, #654ea3, #eaafc8);;
    width: 100%;
    gap: 10px;
    padding-top: 25px;
}

.footer-texto {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    gap: 10px;
    flex-direction: column;
}

.footer-texto a{
    color: black;
}
.footer-redes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.footer-redes img {
    width: 35px;
    height: 35px;
}
/* Mediqri- --------------------------------- */

@media (max-width: 992px) {
    
    header {
        padding: 0 20px;   
    }

    .menu-pic {
        width: 50px;
    }

    .navbar {
        gap: 30px;
    }
    /* Menu hambur */
    .navbar-list {
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 90px;
        right: 5%;
        left: 15%;
        background: linear-gradient(to top, #654ea3, #eaafc8);
        gap: 40px;
        display: none;
        width: 70%;
        padding: 15px;
        border: 2px solid var(--secundary);
        border-top: none;
        border-radius: 0 0 15px 15px;
        transition: all 2s ease;
    }

    .menu-label {
        display: flex;
        order: 2;
        cursor: pointer;
    }

    #menu-hambur:checked + .navbar-list{
        display: flex;
    }

    #menu-hambur {
        display: none;
       /* -------------------- */
    }
    .logo {
        width: 180px;
    }

    #hero {  
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 100px;
    }

    .hero-title {
        gap: 50px;
    }

    .hero-title h1 {
        font-size: 30px;
    }

    .hero-title p {
        font-size: 20px;
    }
    
    .hero-cart img {
        width: 100%;
        
    }

    body {
        width: 100%;
    }

    .hero-cards {
        display: flex;
        flex-wrap: wrap;
    }
    
}

@media (max-width: 576px) {
   
    .hero-title p{
       font-size: 26px;
    }
    .hero-title {
        width: 70%;
    }
    .hero-cart img {
        width: 90%;
    }
    .descripcion {
        width: 80%;
    }
    .descripcion p{
        font-size: 26px;
    }

    .activo,
    .comun {
        padding: 25px 30px;
        font-size: 17px;
    }

    /* cards */
    
    .hero-card-titulo {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        width: 80%;;
    }
    .hero-cards {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }


    /* contacto */
    .contenido-contacto {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}